@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600&display=swap");


.center_image {
 display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226 232 240);
  }
  .Silentcard {
 
 
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
  }
  
  .Silentcard:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
  }

  .list_items{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }

  .list_items:hover {
   
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);

  /* When the animation is finished, start again */
  
  }

