@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600&display=swap");

.text {
  font-family: "Manrope", sans-serif;
}
.marg {
  margin: 60px;
}
.right-side {
  background-color: white;
}
.sholarship-page {
  width: 100%;
}
.info-stack {
  background-color: white;
}
.leftSide {
  display: flex;
  background-color: white;

  flex-direction: column;
  height: 100%;
}
.grid {
  background-color: white;
}

.impact-page {
  padding-top: 10px;
  background-color: white;
  padding-bottom: 10px;
}
.card-container {
  margin: 20px;
  margin-right: 10px;
  background-color: white;
}
.arrangement-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


