.boxTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxContent {
  background-color: white;
  width: 100%;
  height: 100%;
}
.titless {
  font-size: 20px;
  cursor: pointer;
}

.showHide .boxTitle div {
  display: flex;
  align-items: center;
  margin-left: 13%
}

.showHide .boxTitle .icon {
  margin-left: auto;
}
.showHide {
  margin-top: 30px;
}
